name: Weather API 3-Stage Pipeline

permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install Dependencies
        run: pip install -r requirements.txt

  Test:
    needs: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install Dependencies & Start API
        run: |
          pip install -r requirements.txt
          python app.py &
          sleep 7
      - name: Run Tests
        run: bash test_api.sh

  Deploy:
    needs: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Docker Image
        run: docker build -t weather-api:latest .
      - name: Save Image
        run: docker save weather-api:latest > weather-api.tar
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: weather-image
          path: weather-api.tar
