name: Weather API 3-Stage Pipeline

on:
  push:
    branches:
      - main

jobs:

  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Build Docker Image
        run: docker build -t weather-api-ci .

  Test:
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Start Flask Server
        run: |
          python app.py &
          sleep 3

      - name: Make script executable
        run: chmod +x test_api.sh

      - name: Run Test Script
        run: bash test_api.sh

  Deploy:
    runs-on: ubuntu-latest
    needs: Test
    steps:
      - name: Deploy Step
        run: echo "Deployment Successful!"
